@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/firebaseui-ja/dist/firebaseui.css";

$card-header-background-color: #ffe0eb;

@import "../node_modules/bulma/sass/components/card.sass";

.bk-coler-nogi {
  background-color: #fcf;
}

.bk-coler-keyaki {
  background-color: #cfc;
}

.bk-coler-yoshimoto {
  background-color: #fcc;
}

.bk-coler-hinata {
  background-color: #cff;
}
